:host {
    background-color: var(--lumo-primary-color);
    color: white;
    border-radius: var(--lumo-border-radius);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  :host([theme="primary"]) {
    background-color: var(--lumo-primary-color);
    color: white;
  }
  
  :host(:hover) {
    background-color: var(--lumo-primary-color-50pct);
  }
  
  :host(:active) {
    background-color: var(--lumo-primary-color-10pct);
  }